input{
    padding: 10px;
    margin: 10px;
}

button{
    padding: 5px 15px;
    margin: 5px;
    background: #5a0add;
    color: #fff;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    padding: 10px;
    color: #0a0808;
    border: 1px solid;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button:hover{

    cursor: pointer;
    background-color: #ddd;
    color: #111;
}