
div{
    width: 600px;
    margin: 0 auto;
}
input{
    width: 70%;
    padding: 15px 10px;
}
table th,table td{
    border: 1px solid;
    padding: 10px 20px;
    
}
button{
    padding: 10px 20px;
}